Repository TheVanderlin/RogueTrader, pull requests merged in 2025-01, with the labels that each got.

#59 RogueTrader - V1.0.12.6 - Lootspawns
  code/__defines/armor.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/lootspawns.dm
  code/modules/clothing/suits/pilgrimarmor.dm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-1.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#60 RogueTrader - V1.0.12.8 - Bugfixes/Maps
  code/__defines/guns.dm
  code/__defines/machinery.dm
  code/__defines/skills.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/culture_descriptor/culture/cultures_diona.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/mob/living/simple_animal/hostile/daemons.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/ravenor.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/doors/command_door.dmi
  maps/antag_spawn/mercenary/mercenary.dm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
  maps/away/mining/mining_corporate.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/random_ruins/exoplanet_ruins/crashed_shuttle/crashed_shuttle.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
  maps/random_ruins/exoplanet_ruins/transshipment/transshipment.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_define.dm
  maps/torch/torch_shuttles.dm
Labels: Sprites, Map

#66 Mech buffs
  code/modules/mechs/_mech_setup.dm
  code/modules/mechs/components/_components.dm
  code/modules/mechs/components/armour.dm
  code/modules/mechs/components/arms.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/components/frame.dm
  code/modules/mechs/components/head.dm
  code/modules/mechs/components/legs.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/_interface.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_construction.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_icon.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mechs/mech_wreckage.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_parts_held.dmi
  icons/mecha/mech_weapon_overlays.dmi
  maps/away/scavver/scavver_gantry.dm
Labels: Sprites
